<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>uni0414</key>
    <dict>
      <key>uni0422</key>
      <integer>-29</integer>
      <key>uni0442</key>
      <integer>-29</integer>
    </dict>
    <key>uni0422</key>
    <dict>
      <key>uni0410</key>
      <integer>-77</integer>
      <key>uni0414</key>
      <integer>-87</integer>
      <key>uni041E</key>
      <integer>-70</integer>
      <key>uni0430</key>
      <integer>-77</integer>
      <key>uni0434</key>
      <integer>-87</integer>
      <key>uni043E</key>
      <integer>-70</integer>
    </dict>
    <key>uni0434</key>
    <dict>
      <key>uni0422</key>
      <integer>-29</integer>
      <key>uni0442</key>
      <integer>-29</integer>
    </dict>
    <key>uni0442</key>
    <dict>
      <key>uni0410</key>
      <integer>-77</integer>
      <key>uni0414</key>
      <integer>-87</integer>
      <key>uni041E</key>
      <integer>-70</integer>
      <key>uni0430</key>
      <integer>-77</integer>
      <key>uni0434</key>
      <integer>-87</integer>
      <key>uni043E</key>
      <integer>-70</integer>
    </dict>
  </dict>
</plist>
